<!DOCTYPE HTML>
<html>
  <head>
    <title>SoleBook</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h1>SoleBook</h1>
	<p>Hi!this is a SoleBook pages!</p>
    <p>当前时间：<%= currentTime %></p>
  </body>
</html>
